@model SlijterijSjonnieLoper_version2.Models.WhiskeyModel

@{
    ViewBag.Title = "WhiskeyData";
}

<h2>Whiskey data</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alcoholPercentages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alcoholPercentages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typesOfWhiskey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typesOfWhiskey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabelImage)
        </dt>

        <dd>
            @*@Html.ActionLink("Open label image", "ViewImage","ImageController", new { id = Model.id }, null)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBottlesOnStorage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfBottlesOnStorage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBottlesReserved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfBottlesReserved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRemoved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRemoved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Change whiskey data", "ChangeWhiskeyData", new { id = Model.id }) |
</p>
