@model IEnumerable<SlijterijSjonnieLoper_version2.Models.WhiskeyModel>

@{
    ViewBag.Title = "WhiskeyOverView";
}

<h2>WhiskeyOverView</h2>

<p>
    @Html.ActionLink("Create New", "AddNewWhiskey")
</p>
@using (Html.BeginForm("WhiskeySearchOverview", "Whiskey", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value="Search">
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfBottlesOnStorage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfBottlesReserved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRemoved)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBottlesOnStorage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBottlesReserved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRemoved)
            </td>
            <td>
                @Html.ActionLink("Change whiskey data", "ChangeWhiskeyData", new { id = item.id }) |
                @Html.ActionLink("see more data whiskey", "WhiskeyData", new { id = item.id }) |
            </td>
        </tr>
    }

</table>
