@model SlijterijSjonnieLoper_version2.Models.BestellingModel

@{
    ViewBag.Title = "RemoveReservation";
}

<h2>Remove reservation</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfReservation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfReservation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCompletionOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCompletionOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletedOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletedOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseNumberAddition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNumberAddition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" style="transform:translateX(100px)" /> 

        </div>
    }
</div>
