@{
    ViewBag.Title = "Home Page";
}
<style>

    .jumbotron {
    background-color:transparent;
    }
    .jumbotron-text {
    color: orange;
    }
    .image {
    transform:translate(-20px, 20px);
    /*transform:translateX(-90px);
    transform:translateY(20px);*/
    width: 200px;
    }
 

</style>
<div class="jumbotron">
    <h1 class="jumbotron-text">Sjonnie's liquor store</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("ReservationOverview","Reservation")">
        <img class="image" src="~/Images/reservation2.png">
        </a>
        <h2>Reservation</h2>
        <p><button onclick="location.href='@Url.Action("ReservationOverview", "Reservation")'" class="btn btn-default">Click here to go &raquo;</button></p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("WhiskeyOverView","Whiskey")">
            <img class="image3" src="~/Images/whiskey2.png" style="width:200px">
            </a>
            <h2>Whiskey</h2>
            <p><button onclick="location.href='@Url.Action("WhiskeyOverview", "Whiskey")'" class="btn btn-default">Click here to go  &raquo;</button></p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("CustomerOverview","Customer")">
            <img class="image3" src="~/Images/customer2.png" style="width:200px">
        </a>
            <h2>Customer</h2>
            <p><button class="btn btn-default" onclick="location.href='@Url.Action("CustomerOverview", "Customer")'">Click here to go  &raquo;</button></p>
    </div>
</div>
<script>
    //$("#buttonid").click(
    //   function () {
    //        alert("sdfds");
    //    }
</script>