@model SlijterijSjonnieLoper_version2.Models.CustomerModel

@{
    ViewBag.Title = "CustomerData";
}

<h2>CustomerData</h2>

<div>
    <h4>CustomerModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrepositionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrepositionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseNumberAddition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNumberAddition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Change customer data", "ChangeCustomerData", new { id = Model.id }) |
</p>
